body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
/*----------- fonts ------------*/
.title-font{
    font-family: 'Philosopher', sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #00537B;
}
.content-font{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #474747;
}
.arial{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color:#707070;
}
.lato-14{
    font-family: 'Lato', sans-serif;
    font-size: 14px;
}

/*------------ background-colors -------*/
.blue-bg{
    background-color:#00537B;
}
.white-bg{
    background-color:#fff;
}
.gray-bg{
    background-color:#707070;
}
.lightblue-bg{
    background-color: #EEF9FF;
}

/*------------- buttons -------------*/
.btn-wide{
    width:35%;
    height: 40px;
}
.btn-radius-non{
    border-radius: 0px!important;
}
.btn-gray{
    background-color: #707070;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
}
.btn-blue{
    background-color: #00537B;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
}
.btn-white{
    background-color: #fff;
    color: #707070;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
}
.btn-ghost{
    color:#fff;
    border: 1px solid #FFF;;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
}
 .navbar, .container-fluid{
     padding:0!important;
 }
 #navbarDropdown{
     flex-wrap:wrap;
     justify-content: flex-end;
     margin-right: 100px;
 }
 a{
     color: #fff;
 }
 nav a{
     color:#ffff;
     font-family: 'Philosopher', sans-serif;
     font-size: 18px;
     font-weight: bold;
     padding: 10px!important;
 }
 a:hover , button:hover{
     color: #ccc!important;
     cursor: pointer;
 }

 li{
     margin-right:40px;
 }
 .center-text{
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    height: max-content;
 }
 .center-text.title-font strong{
     font-size: 60px;
 }
 .main-carousel .owl-carousel.overlay .item{
    position: relative;
 }
 .main-carousel .owl-carousel.overlay .item:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 83, 123, 0.5);
 }
.owl-carousel.owl_nav-none .owl-nav {
            display: none;
 }
.owl-carousel.owl_nav-block .owl-nav {
             display: block;
             position: absolute;
             top: 0;
             bottom: 0;
             margin: auto;
             width: 100%;
             font-size: 70px;
             color:white;
 }
.owl-carousel.owl_nav-block .owl-nav .owl-prev {
            position: absolute;
            left: 5%;
            top: -20px;
            bottom: 0;
 } 
 .owl-carousel.owl_nav-block .owl-nav .owl-next {
    position: absolute;
    right: 5%;
    top: -20px;
    bottom: 0;
} 
.carlton-carousel{
            position: relative;
 }
.carlton-carousel::before{
            content: "";
            position: absolute;
            left:10%;
            top:-9%;
            border: 10px solid #00537B;
            width:inherit;
            height: 115%;
 }
 .owl-carousel.owl_dots-none .owl-dots {
          display: none;
 }
.owl-carousel.owl_dots-block .owl-dots{
            display: block;
 }
.owl-carousel.center-dots .owl-dots{
            position: absolute;
            bottom: 10px;
            width: inherit;
            text-align: center;
 } 
.owl-carousel .owl-dots .owl-dot{
            border: 1px solid #ccc;
            width: 25px;
            margin: 0 3px;
 }  
.owl-carousel .owl-dots .owl-dot.active{
            border: 1px solid #fff;
 }
.tripsSection{
     background: linear-gradient(to right top, #00537b6b, hsla(200, 100%, 24%, 1.47)),url(../images/carlton.jpg);
     background-repeat: no-repeat;
     background-size:cover;
     background-position: center center;
 }
.tripsSection .owl-carousel.owl_nav-block .owl-nav {
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto;
            height: 20%;
            width: 100%;
            font-size: 30px;
            color:white;
 }
.tripsSection .owl-carousel.owl_nav-none .owl-nav {
           display: none;
 }
        .tripsSection .owl-carousel.owl_nav-block .owl-nav .owl-prev {
           position: absolute;
           left: 0;
       } 
       .tripsSection .owl-carousel.owl_nav-block .owl-nav .owl-next {
           position: absolute;
           right: 0;
         } 
         .tripsSection .card-body{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        .tripsSection .card-body.content-font{
            font-size: 20px;
        }
         tbody tr:first-child, tbody tr:nth-of-type(2), tbody tr:nth-of-type(3)
         td:nth-of-type(2), tbody tr:nth-of-type(3) td:nth-of-type(3){
            border-bottom: 1px solid rgba(255,255,255,0.2);
         }
         p{
             position: relative;
         }
         tbody tr p:before{
            content: "";
            position: absolute;
            border: 1px solid rgba(255,255,255,0.2);
            right: -10%;
            border-left: none;
            width: 10px;
            height: 63%;
            top: 0;
            bottom: 0;
            margin: auto;
         }
         .tripsSection tbody.content-font, .tripsSection thead .title-font, 
         .center-text.title-font{
             color: #fff;
         } 
         .latest-news .card-body{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
        }
        .latest-news .btn-ghost{
            color: #707070;
            border: 1px solid #707070;
        }
         .news-card img{
            float:left;
        }
        .news-card{
            height:100%;
            margin-bottom: 30px;
        }
        .news-card .content-font{
            font-size: 24px;
            font-weight: bold;
            color: #00537B;
        }
        .testimonial{
            width: 100%;
            height:100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-end;
        } 
        .testimonial .owl-carousel.overlay .item{
            position: relative;
         }
         .testimonial .owl-carousel.overlay .item:before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 83, 123, 0.9);
         }
        .testimonial-carousel{
            width: 100%;
            height: 100%;
        }     
        .testimonials-carousel .center-text.content-font p:first-child{
            font-size: 18px;
        }
        .testimonials-carousel .item .content-font{
            font-size: 14px;
            color: #fff;
        }
           .news-card img , .news-card .card{
               height: 264px;
           }
           .testimonials-carousel .item{
               position: relative;
           }
           form{
               justify-content: space-between;
           }
           .form-text .content-font{
               font-size: 14px;
           }
           form input{
               width: 100%!important;
           }
         footer{
         background-color: #00537B;
         color:#fff; 
        }
        footer .title-font, footer .content-font{
            color: #fff;
        }
        footer .content-font{
            font-size: 14px;
        }
        footer .title-font{
            font-size: 24px;
        }
        footer .degree p.content-font{
            font-size: 28px;
        }

      .air-temp, .water-temp, .followus, .copyright, .display-flex{
       display: flex;
       flex-direction: row;
       }
     .degree, .contact a span{
      margin-left: 10px;
      color:#fff;
    }
.air-temp span:last-child{
    display: block;
}
 .display-flex span:last-child{
     position: absolute;
     right: 15px;
 }
 .display-flex > a{
    position: absolute;
    right: 0px;
 }
   footer .copyright .display-flex{
    justify-content: space-between;
} 



   
   
   

 
 


   
  