 @media(max-width: 768px){
     .navbar-color{
        background: linear-gradient(90deg, rgba(255,255,255,1) 72%,
         rgba(0,83,123,1) 35%);
     }
     .navbar-toggler{
        position: absolute;
        right: 0;
        z-index: 4;
        top: 0;
     }
     #navbarDropdown{
        position: absolute;
        right: 0px;
        top: 0;
        margin: auto;
        z-index: 2;
        background-color: #00537B;
     }
     nav li{
         padding-left: 15px;
     }
     .welcome-section{
         text-align: center;
     }
     .welcome-section .welcome-text{
         margin-bottom:30px;
     }
     .welcome-section .carlton-carousel{
        text-align: center;
        margin: auto;
        margin-top: 40px;
     }
     .trips-carousel{
        text-align: center;
        margin: auto;
     }
     .latest-news{
         flex-wrap: wrap;
     }
     .news-card{
         padding-bottom: 5px;
     }
     .testimonial {
        margin-top: 15px;
        width: 100%;
        height: inherit;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .testimonial-carousel{
        width: 100%;
        height: inherit;
    }
    form .form-text, form .form-input{
        padding-bottom: 5px!important;
    }
    form .subscribe-btn{
        padding-top: 5px!important;
    }
    .followus{
        padding-top: 50px;
    }
    .followus-content{
        padding-top: 3px;
    }
    .boat-section{
        text-align: center;
    }
    .boat-section table{
        margin-top: 20px;
    }
    .boat-carousel .display-flex{
        display: flex;
       flex-direction: row;
    }
    .boat-carousel .carousel-caption .overlay {
        height: 80px;
    }
    .boat-carousel .svg-width {
        margin-right: 6px;
    }
    .img-carousel.owl-carousel .item {
        height: 350px;
    }
    .table-width{
        width: 100%;
    }
    .padding-top{
        padding-top: 50px;
    }
    table.font-size{
        font-size: 12px;
    }
    .padding-bottom{
        padding-bottom: 20px;
    }
    .contact-line-info span {
        padding-left: 10px;
    }
    .contact-line-info {
        padding-left: 20px;
    }
    .row-0{
        margin: 0;
        padding: 0;
    }
    .padding-margin{
        padding: 1rem 0px!important;
        margin: 1rem 0px!important;
    }
    .owl-carousel.right-dots .owl-dots{
        right: 0;
    } 
    .owl-carousel.left-dots .owl-dots{
        left: 0;
    } 
    .north-panner .title-font, .schedule-panner .title-font,.contact-us-panner .title-font{
        right: 20px;
    }
    .north-panner .content-font, .schedule-panner .content-font, .contact-us-panner .content-font{
        right: 20px;
    }
    .width-inherit{
        width: inherit;
    }
    .overflow{
        max-width: 100%;
        overflow: auto;
    }
    a.current:link, a.current:visited {
        color: burlywood;
        border: none;
    }
 }

 @media(width: 768px){
     .north-carousel{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .north-carousel .owl-carousel, .north-carousel-text{
        max-width: 300px;
    }
 }