 @media(max-width: 768px){
     .navbar-color{
        background: linear-gradient(90deg, rgba(255,255,255,1) 72%,
         rgba(0,83,123,1) 35%);
     }
     .navbar-toggler{
        position: absolute;
        right: 0;
        z-index: 4;
        top: 0;
     }
     #navbarDropdown{
        position: absolute;
        right: 0px;
        top: 0;
        margin: auto;
        z-index: 2;
        background-color: #00537B;
     }
     nav li{
         padding-left: 15px;
     }
     .welcome-section{
         text-align: center;
     }
     .welcome-section .welcome-text{
         margin-bottom:30px;
     }
     .welcome-section .carlton-carousel{
        text-align: center;
        margin: auto;
        margin-top: 40px;
     }
     .trips-carousel{
        text-align: center;
        margin: auto;
     }
     .latest-news{
         flex-wrap: wrap;
     }
     .news-card{
         padding-bottom: 5px;
     }
     .testimonial {
        margin-top: 15px;
        width: 100%;
        height: inherit;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .testimonial-carousel{
        width: 100%;
        height: inherit;
    }
    form .form-text, form .form-input{
        padding-bottom: 5px!important;
    }
    form .subscribe-btn{
        padding-top: 5px!important;
    }

    .followus-content{
        padding-top: 3px;
    }
    .boat-section{
        text-align: center;
    }
    .boat-section table{
        margin-top: 20px;
    }
    .boat-carousel .display-flex{
        display: flex;
       flex-direction: row;
    }
    .boat-carousel .carousel-caption .overlay {
        height: 80px;
    }
    .boat-carousel .svg-width {
        margin-right: 6px;
    }
    .img-carousel.owl-carousel .item {
        height: 350px;
    }
    .table-width{
        width: auto;
    }
    .padding-top{
        padding-top: 50px;
    }
 }